
.logo-placeholder {
  width: 250px;
  height: 100px;
  background: rgb(255, 255, 255);
  margin: 16px 24px 16px 0;
  float: left;
}

.welcome-username {
  float: right;
  color: #fff;
  margin: 25px 24px 16px 0;
}

body{
  background-color: rgb(65, 105, 225);
  color: white;
  font-family: Arial;
  text-align: center;
}


.welcome-username .ant-avatar {
  margin-right: 7px;
}
