
.logo-placeholder {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.welcome-username {
  float: right;
  color: #fff;
}

body{
  background-color: rgb(65, 105, 225);
  color: white;
  font-family: Arial;
  text-align: center;
}


.welcome-username .ant-avatar {
  margin-right: 7px;
}
