@import '~antd/dist/antd.css';


.logo-placeholder {
  width: 250px;
  height: 100px;
  background: rgb(255, 255, 255);
  margin: 16px 24px 16px 0;
  float: left;
}

.welcome-username {
  float: right;
  color: #fff;
  margin: 25px 24px 16px 0;
}

body {
  font-family: Arial;
  text-align: center;
  background-size: cover;
}


.welcome-username .ant-avatar {
  margin-right: 7px;
}


/*
--- Chat
*/

/* Chat Message */
.chat-message {
  display: flex;
  align-items: center;
}

/* TODO: fix long one word messages. */
.talk-bubble {
  margin: 10px 32px;
  display: inline-block;
  position: relative;
  height: auto;
  background-color: #fff;
  box-shadow: 3px 7px 10px rgba(0, 0, 0, .1);
}

.round {
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 50%;
  bottom: auto;
  border: 12px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotateX(60deg);
}

/* Text message */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  color: #000;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-bottom: 0;
}

/* Image message */
.img-attachment {
  max-width: 80%;
}

/* File attachment (download button) */
.file-attachment {
  margin: 12px
}

/* Chat input */
.ant-input-group-addon {
  padding: 0;
}

/*
  Stream
*/
.hide {
  display: none;
}